* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  padding: 16px;
  box-sizing: border-box;
}

canvas {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
