body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2114db;
}

.copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  pointer-events: none;
}

.copy svg {
  width: 32px;
  fill: white;
}

.copy > * {
  padding: 32px;
}

a {
  font-style: italic;
  color: #ee7d3b;
  font-weight: bold;
  text-decoration: none;
  pointer-events: all;
}

canvas {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
